.bg-dark{
  background-color: #343a40 !important;
}

@font-face {
  font-family: "Roboto"
  src: url("/static/fonts/Roboto")
}

body{
    font-family: roboto;
    font-size: 21px;
}

.nav {
  flex-wrap: nowrap !important;
}
.navbar-brand{
  font-family: roboto-bold;
  font-size: 32px;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  line-height: inherit;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.w-100 {
  width: 76% !important;
}

.d-inline {
  display: inline !important;
}

.mt-auto, .my-auto {
  margin-bottom: auto !important;
}


.mb-auto, .my-auto {
  margin-top: auto !important;
}
.ml-2, .mx-2 {
  margin-left: .5rem !important;
}

.mr-2, .mx-2 {
  margin-right: .5rem !important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control {
  position: relative;
  flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group-append {
  margin-left: -1px;
  display: flex;
}

.border-right-0 {
  border-right: 0 !important;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
}

.input-group > .input-group-append > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.fa {
  color: #fff;
}


.nav-link {
  display: inline-block;
  white-space: nowrap;
  padding: .5rem 1rem;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
}

.card {
  margin: 20px 5px;
}

.dropdown-toggle::after {
  display: inline-block;
}



a.tag {
  white-space: nowrap;
  display: inline-block;
}

.nav-link {
  font-size: 23px;
  display: inline-block;
}

.dropdown-item{
  padding: 1rem 1.5rem;
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
  width: 100%;
  clear: both;
  text-align: inherit;
  background-color: transparent;
}

.fade.show {
  opacity: 1;
  background: rgba(0,0,0,0.5)
}

.form-control {
  font-size: 24px;
}
textarea {
  resize: vertical;
  height:100px;
  max-height: 240px;
  min-height: 100px;
  overflow: auto;
}

h5 {
  font-family: roboto;
  font-weight: bolder;
  color: #7f7c7c;
  margin: 0.6rem 0rem;
}

:focus {outline:none !important;}

.btn-primary{
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  color: #fff !important;
}

.col-form-label {
  font-family: inherit;
  font-size: 1.25rem;

}
.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  width: 100%;
  color: white;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  line-height: 1;
}

.btn-default {
  display: inline-block;
  font-family: inherit;
  background-color: transparent
  border: 1px solid #343a40 !important;
}

h1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-left: 1rem !important;
  font-family: inherit;
}

th {
  text-indent: 4rem !important;
}
.col-md-4 {
  padding-left: 1.5rem;
}

col-form-label {
  font-size: 1.25rem !important;
  color: #7f7c7c;
  font-weight: bold;
}

.table td {
  padding: 1.25rem 5rem!important;
}

.far {
  color: black !important;
}

footer {
  padding: 1.25rem !important;
}
table {
  padding-left: 2rem;
  padding-right: 2rem;
}

.alert-warning {
  margin: 1rem 1rem;
}
